body, html {
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    text-align: center;
}
.intro h1 {
    font-size: 3em;
    margin: 0;
}
.intro h3 {
    font-size: 2em;
    margin: 0;
}


.phrase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}
.phrase h1 {
    font-size: 4em;
    margin: 0;
}


/* education */

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.card {
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.card-content {
    flex-grow: 1;
}
.card h5 {
    font-size: 1.2em;
    margin: 0;
}
.card p {
    margin: 5px 0;
    color: #b0b0b0;
}
.date {
    text-align: right;
    color: #b0b0b0;
}


/* Carrusel */

.skills-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 150px;
    position: relative;
}

.carousel-row {
    display: flex;
    animation: scroll-right 20s linear infinite;
}

.carousel-row.reverse {
    animation: scroll-left 20s linear infinite;
}

.skill {
    margin: 0 10px;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    white-space: nowrap;
}

.skill.neon {
    border: 2px solid;
    border-image: linear-gradient(45deg, #00f, #f0f, #0ff) 1;
}

@keyframes scroll-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h5 {
    margin-top: 0;
}

.card a, .card button {
    display: block;
    margin-top: 8px;
}

.dialog {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.dialog-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.dialog-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}